@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root{
  --fontfamily: "Montserrat", sans-serif;
  --darkblue:#194868;
}

body{
  background-color:#ececec;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: var(--fontfamily);
}
.sidenav {
  height: 100%;
  width: 270px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#194868;
  overflow-x: hidden;
  padding-top: 10px;
  border-radius: 0px 15px 10px 0px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  height: 6vh;
  margin-bottom: 5px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  
}

.sidenav a:hover {
  background-color: #40719281;
}
#userupdatepro{
  border-radius: 10px 0px 0px 10px; 
  border-right: solid 4px white ;
  color:white ;
  background-color: #40719281; 
}
.modal {
  display: none;
  position: fixed;
  padding-top: 250px;
  padding-left: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;
}

.modal-content {
  float: left;
  position: relative;
  background-color: #D4E6F1;
  border-radius: 15px;
  margin-left: 470px;
  padding: 0;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-body {
  padding: 50px 1px;
  text-align: center;
  font-family: "Spectral", serif;
  font-weight: bold;
}
.boton{
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color:#194868 ;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.boton:hover{
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
}


@media (max-width: 1200px) {
  body{
    font-size: larger !important;
  }
}
@media (max-width: 900px) {
  .sidenav{
    width: 0px !important;
  }
  #bar{
    display: inline-block !important;
  }
  .modal-content{
    display: flex !important;
    justify-content: center !important;
    margin-left: 100px !important;
    width: 300px;
  }
  .modal-body {
    padding-top:40px !important;
    padding-bottom: 40px !important;
    text-align: center !important;
  }
  .boton{
    width:100px !important;
  }
  .login-box {
    width: 400px !important;
    height: 90% !important;
    padding: 50px !important ;
    margin-left: 30px !important;
    margin-top: 50px !important;
  }
  #toast{
    margin-left: 20px !important;
  }
  .edit{
    font-size: 25px;
  }
}
@media (max-width: 450px){
  .modal-content{
    width: 230px!important;
    margin-left: 10px!important;
  }
  }
.navicons{
  font-size: 25px;
  color: #5495bd;
  cursor: pointer;
  background-color: inherit;
  border: none;
  display: inline-block;
}
.navicons:hover{
  color: #194868;
}
.closebtn{
  position: absolute;
  top: 2%;
  margin-left: 80%;
  font-size: 35px;
  z-index: 30;
  color: #fff;
  display: none;
}
#bar{
  position: absolute;
  top: 20px;
  left: 50px;
  display: none;
  font-size: xx-large;
}

#sidenav{
  width: 0px;
  height: 100%;
  transition: 0.5s;
  z-index: 40;
  top: 0;
  left: 0;
  background-color:#194868 ;
  overflow-x: hidden;
  padding-top: 10px;
  border-radius: 0px 15px 10px 0px;
  position: fixed;
  
}

#sidenav a {
  transition: 0.5s;
  padding: 6px 8px 6px 16px;
  height: 4vh;
  margin-bottom: 5px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  border-radius: 15px;
}

#sidenav a:hover {
  background-color: #40719281;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 90%;
    padding: 80px;
    margin-left: 130px;
    margin-top: 35px;
    transform: translate(-50%, -55%);
    background-color:#fff ;
    box-sizing: border-box;
    border: 1px solid #194868;
    border-radius: 10px;
    box-shadow: 30px 10px 30px rgba(0, 0, 0, 0.1);
  }
  
  .login-box h1 {
    margin: 0 0 30px;
    padding: 0;
    color:var(--darkblue);
    letter-spacing: 2px;
    font-size: 30px;
    text-align: center;
  }
  
  .aaa {
    color: rgb(93, 139, 155);
    text-align: center;
    font-size: 20px;
    margin-top: -11px;
    margin-bottom: 60px;
  }
  
  
  .user-box {
    position: relative;
  }
  
  .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color:#141e30;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--darkblue);
    outline: none;
    background: transparent;
  }
  
  .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color:var(--darkblue);
    pointer-events: none;
    transition: .5s;
  }
  
   .user-box input:focus~label,
   .user-box input:valid~label {
    top: -20px;
    left: 0;
    color:var(--darkblue);
    font-size: 12px;
    font-weight: bold;
  }
  
   .submit {
    color: #fff!important;
    background-color: rgb(37, 68, 94) !important;
    position: relative;
    display: inline-block;
    padding: 10px 120px;
    font-size: 15px;
    
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    margin-top: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
    letter-spacing: 3px;
    border: 1px solid var(--darkblue);
    cursor: pointer;
    font-family: var(--fontfamily);
    border-radius: 5px;
  }
  
  .submit:hover {
    
    background-color: #fff !important;
    color:var(--darkblue)!important;
    font-weight: bold !important;
  }
  

  #toast {
    visibility: hidden;
    min-width: 90px;
    height: 40px;
    margin-left: -125px;
    color: #fff;
    background-color: #5495bd;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    padding: 8px 10px 40px 10px;
    position: fixed;
    z-index: 55;
    left: 20%;
    top: 100px;
    font-size: 15px;
  }
  
  #toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {
      top: 0;
      opacity: 0;
    }
    to {
      top: 100px;
      opacity: 1;
    }
  }
  
  @keyframes fadein {
    from {
      top: 0;
      opacity: 0;
    }
    to {
      top: 100px;
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeout {
    from {
      top: 100px;
      opacity: 1;
    }
    to {
      top: 0;
      opacity: 0;
    }
  }
  
  @keyframes fadeout {
    from {
      top: 100px;
      opacity: 1;
    }
    to {
      top: 0;
      opacity: 0;
    }
  }
  .logout-btn{
    background: inherit;
    border: inherit;
    color: #fff;
    font-size: 20px; 
    padding: 6px 10px 6px 16px;
    text-align: start;
    cursor: pointer;
    width: 100%;
    height: 6vh;
    font-family: var(--fontfamily);
    
  }
  
 .logout-btn:hover {
    background-color: #40719281; 
  }
  .text-danger{
    font-size: 15px;
    }